.footer {
  margin: 40px 0; 
}

section.intro {
  p {
    margin-bottom: 40px;
  }
}

.tags {
  margin: 25px 0;
}

h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}

pre {
  margin: 16px 0;
}
